$m-total: 10;
$p-total: 10;

/*
    Positioning
------------------------------------------------*/

.u-pr {
    position: relative;
}

.u-pa {
    position: absolute;
}

.u-ps {
    position: static;
}

.u-pf {
    position: fixed
}

// Positioning // --------------------------------------------------

.u-p--bl {
    bottom: 0;
    left: 0;
}

.u-p--all {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/*
    Sizing
------------------------------------------------*/

%u-heightFill {
    min-height: 100%;
}

.u-sizeFill {
    width: 100%;
}

@include respond-to($sm-screen-up) {

    .u-heightFill {
        @extend %u-heightFill;
    }
}

/*
    Margins
------------------------------------------------*/

// Top

.mt0 {
    margin-top: 0;
}

%mt05 {
    margin-top: $grid-gutter-width / 2;
}

.mt05 {
    @extend %mt05;
}

@for $i from 0 through $m-total {
    %mt#{$i} {
        margin-top: $base-spacing * $i;
    }

    .mt#{$i} {
        @extend %mt#{$i};
    }
}

// Right

%mr05 {
    margin-right: $grid-gutter-width / 2;
}

.mr05 {
    @extend %mr05;
}

@for $i from 0 through $m-total {
    %mr#{$i} {
        margin-right: $grid-gutter-width * $i;
    }

    .mr#{$i} {
        @extend %mr#{$i};
    }
}

// Bottom
.mb0 {
    margin-bottom: 0;
}

%mb05 {
    margin-bottom: $base-spacing / 2;
}

.mb05 {
    @extend %mb05;
}

@for $i from 0 through $m-total {
    %mb#{$i} {
        margin-bottom: $base-spacing * $i;
    }

    .mb#{$i} {
        @extend %mb#{$i};
    }
}

// Left

%ml05 {
    margin-left: $grid-gutter-width / 2;
}

.ml05 {
    @extend %ml05;
}

@for $i from 0 through $m-total {
    %ml#{$i} {
        margin-left: $grid-gutter-width * $i;
    }

    .ml#{$i} {
        @extend %ml#{$i};
    }
}


// Pulls

@include respond-to($sm-screen-up) {
    .u-pullTop {
        margin-top: -$base-line-height;
    }
}


@include respond-to($md-screen-up) {
    .u-pullLeft {
        margin-left: -#{$grid-gutter-width};
    }

    .u-pullRight {
        margin-right: -#{$grid-gutter-width};
    }
}

/*
    Padding
------------------------------------------------*/

.u-inner {
    padding: .75em 1em;

    &-half {
        padding: .4em .75em;
    }

    &-extra {
        padding: 1.15em 1.5em;
    }

    @include respond-to($md-screen-up) {

        padding: 1em 1.25em;

        &-half {
            padding: .5em .75em;
        }

        &-extra {
            padding: 1.5em 2em;
        }
    }
}

// Cushion - percentage padding
.u-cushionTop {

    @include respond-to($sm-screen-up) {
        &,
        &-lg {
            padding-top: 5%;
        }
    }

    @include respond-to($md-screen-up) {
        padding-top: 12.5%;

        &-lg {
            padding-top: 25%;
        }
    }

    // Short screens
    // @include respond-to(min-width $medium-screen max-height 720px 12) {
    //  padding-top: 7.5%;

    //  &-lg {
    //      padding-top: 15%;
    //  }
    // }
}


// Top
.u-padT0 {
    padding-top: 0;
}

.u-padT05 {
    padding-top: $base-spacing / 2;
}

@for $i from 0 through $p-total {
    %u-padT#{$i} {
        padding-top: $base-spacing * $i;
    }

    .u-padT#{$i} {
        @extend %u-padT#{$i};
    }
}

// Left
.u-padL0 {
    padding-left: 0;
}

@for $i from 0 through $p-total {
    %u-padL#{$i} {
        padding-left: $grid-gutter-width * $i;
    }

    .u-padL#{$i} {
        @extend %u-padL#{$i};
    }
}

// Right
.u-padR0 {
    padding-right: 0;
}

.u-padR05 {
    padding-right: $grid-gutter-width / 4;
}

// Bottom
.u-padB0 {
    padding-bottom: 0;
}

@for $i from 0 through $p-total {
    %u-padB#{$i} {
        padding-bottom: $base-spacing * $i;
    }

    .u-padB#{$i} {
        @extend %u-padB#{$i};
    }
}

// All
.u-pad0 {
    padding: 0;
}


/*
    Overflow
------------------------------------------------*/

.u-scrollVertical {
    overflow-x: hidden;
    overflow-y: auto;
}


/*
    Display
------------------------------------------------*/

.u-tabled {
    display: table;
}

.u-tablerowd {
    display: table-row;
}

.u-tablecelld {
    display: table-cell;
}

/*
    Floats & Alignment
------------------------------------------------*/

.u-fl {
    float: left;
}

.u-fr {
    float: right;
}

.u-vm {
    vertical-align: middle;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/*
    Rules + Breaks
------------------------------------------------*/

.u-rule {
    border-bottom: 1px solid darken($gray-lighter, 5);

    &--dark {
        border-bottom-color: #333;
        border-bottom-color: rgba(#000,.5);
    }

    &--ondark {
        border-bottom-color: rgba(#fff,.25);
    }
}

.u-break {
    border-bottom: 4px solid $gray-lighter;

    &--dark {
        border-bottom-color: $gray;
    }
}

.no-rule {
    border-bottom: 0 transparent;
}

/*
    Caps
------------------------------------------------*/

.u-cap {
    border-top: 4px solid $gray-lighter;

    &--primary {
        border-top-color: $brand-primary;
    }

    &--alt {
        border-top-color: $brand-alt;
    }
}

/*
    Borders + Edges
------------------------------------------------*/

.u-borderR {
    border-right: 1px solid $brand-primary;

    &--subtle {
        border-right-color: $gray-lighter;
    }

    &--orange {
        border-right-color: $orange;
    }

    &--green {
        border-right-color: $green;
    }
}

.u-edgeL {
    border-left: 4px solid $brand-primary;

    &--subtle {
        border-left-color: $gray-lighter;
    }

    &--orange {
        border-left-color: $orange;
    }

    &--green {
        border-left-color: $green;
    }
}


/*
    Backgrounds
------------------------------------------------*/

.bg-white {
    background-color: #fff;
}

.bg-tint {
    background-color: shade($base-background-color, 5);
}

.bg-subtle {
    background-color: $gray-subtle;
}

.bg-light {
    background-color: $gray-lighter;
}

.bg-mid {
    background-color: $gray-light;
}

.bg-dark {
    background: $gray-dark;
}

.bg-trans {
    background-color: transparent;
}

// colors

.bg-primary {
    background-color: $brand-primary;

    &-subtle {
        background-color: lighten($brand-primary, 50);
    }

    &-lighter {
        background-color: lighten($brand-primary, 42);
    }

    &-mid {
        background-color: $brand-primary-mid;
    }

    &-dark {
        background-color: $brand-primary-dark;
    }
}

.bg-alt {
    background-color: $blue;

    &-dark {
        background-color: $brand-alt-dark;
    }
}

.bg-green {
    background-color: $green;
}

.bg-orange {
    background-color: $orange;
}



/*
    Effects
------------------------------------------------*/

.u-bordered {
    border-radius: $border-radius-base * 2;
    border: 1px solid $gray-lighter;
}

.u-raised {
    background: #fff;
    border: 1px solid $gray-lighter;
    border-bottom-color: $gray-lighter;
    box-shadow: rgba($gray-lighter, .75) 0 3px 2px;
    border-radius: $border-radius-base * 2;
}

/*
    Extra
------------------------------------------------*/

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden,
.sr-only {
    @extend %visuallyhidden;
}

.clearfix {
    @include clearfix;
}

// Touch
.touch {
    .touch-hide {
        display: none !important;
    }
}

// Mobile
@include respond-to($sm-screen-up) {
    .mobile-only {
        display: none !important;
    }
}